body {
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 20px;
    overflow-x: hidden;
    letter-spacing: 1px;
    height: 100vh;
    background-color: #23807e;
}


/* \/-------------\/------------\/ Background image \/-------------\/------------\/ */

.background {
  background-image: url(../img/BackgroundOceanBlurred3.png);
  height: 1080px;
  margin: -10px;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* /\-------------/\------------/\ Background image /\-------------/\------------/\ */



/* \/-------------\/------------\/  Navigation Bar  \/-------------\/------------\/ */



.menu {                                                 /* main part of the menu when oppened  */
  height: 70px;
  width: 70px;
  left: 0;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  border-width: 4px;
  border-style: solid;
  border-color: #cecece;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 999;
  background-color: #00000060;
}


.menu.active { 
  width: calc(100% - 140px);
}
.menu.active .menuContent * {
  opacity: 1;
}
.menu.active span i:nth-child(1) {                                /* the button animation */
  transform: rotate(-45deg) translate(50%, 50%);
  top: 50%;
}
.menu.active span i:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.menu.active span i:nth-child(3) {
  transform: rotate(45deg) translate(50%, 50%);
  top: 50%;
}


.menu span {                       /* the button */
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 1;
}


.menu span i {                     /* button lines */
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}


.menu span i:nth-child(1) {
  top: 35%;
}
.menu span i:nth-child(2) {        /* line positions */
  top: 45%;
}
.menu span i:nth-child(3) {
  top: 55%;
}


.menu .menuContent {               /* content in the menu */
  /* position: absolute; */
  margin-top:-4px;
  width: 100%;
  height: 100%;
  line-height: 40px;
  right: 0px;
  text-align: center;
}

.menu .menuContent * {
  opacity: 0;
}


.menu .menuContent ul li {         /* text in the menu */
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  transition: opacity 0.5s ease 0.3s;
}
a:link{                           /*a normal, unvisited link*/
    text-decoration: none;
    color: #ffffff;
  }  
   
  a:visited{                        /*a link the user has visited*/
    text-decoration: none;
    color: #ffffff;
  }
   
  a:hover{                         /*a link when the user mouses over it*/
    color: #6bd1e0;
    transition: 0.5s;
  }  
  
  a:active{                        /*a link the moment it is clicked*/
    text-decoration: none;
    color: #ffffff;
  } 
  .here{                          /*this class indicates that you are on this page*/
    color: #6bd1e0;
    border-bottom: 1.5px #6bd1e0 solid;
    border-radius: 10px;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: default;
  }

/* /\-------------/\------------/\ Navigation Bar /\-------------/\------------/\ */


/* \/-------------\/------------\/   Scroll Bar   \/-------------\/------------\/ */


::-webkit-scrollbar {                   /* width */
  width: 0.45vw;
}

::-webkit-scrollbar-track {             /* track */
  background: #a1a1a1; 
}
 
::-webkit-scrollbar-thumb {             /* handle */
  background: #41ffc9;
}

::-webkit-scrollbar-thumb:hover {       /* handle when hover */
  background: #23807e;
}


/* /\-------------/\------------/\   Scroll Bar   /\-------------/\------------/\ */

#footer {
  color: #FFFFFF;
  border-top: 3px #FFFFFF solid;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 10px;
}

.content {
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000060;
  border-radius: 1.5vw;
  color: #FFFFFF;
  margin-right: -40vw;
  padding: 0.5vw;
}
.content2 {
  font-size: 1vw;
  position: absolute;
  font-weight: default;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000060;
  border-radius: 1.5vw;
  color: #FFFFFF;
  padding: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.info{
  margin-top: 5vw;
}

.OurMap{
  font-size: 2vw;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1.5px #FFFFFF solid;
  border-radius: 80px;
  margin-top: 5vw;
  margin-bottom: 1.5vw;
}
/*
#foreground {
  font-size: 1.5vw;
  margin-top: -3.7vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  background-color: #00000080;
  color: #FFFFFF;
  border: 50px;
  margin-top: 25px;
  margin-bottom: 7vw;
  margin-left: 5%;
  margin-right: 5%; 
  padding-bottom: 10vw;
  z-index:9999;
} 

.content2{
  text-align: center;
  font-size: 1.5vw;
  margin-top: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  margin-bottom: 7vw;
  padding: 3vw;
}

.content3{
  text-align: center;
  font-size: 2.5vw;
  margin-top: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px #cecece solid;
  border-radius: 2vw;
  color: #cecece;
  margin-bottom: 7vw;
  padding: 1vw;
}*/