body{
    background-color: #223334;
}
#triangle{
    width:100%;
    background-color: white;
 }
 #SVGRoot{
     width:100%;
     margin-left:5%;
     margin-bottom:-3%;
 }
 #Map{
    width:100%;
    position: absolute;
    z-index: 2;
    overflow:hidden;
 }
 #BG{
    display:relative;
    z-index: 1;
 }
  *{
      margin:0;
  }
/*!!!!!!!!WATER ANIMATIONS!!!!!!!!*/
  @keyframes wot{
      0% {fill:#0184a9;}
      50%{fill:#01bfc4;}
      100% {fill:#0184a9;}
  }
  @keyframes wat{
      0% {fill:#0184a9;}
      50%{fill:#a9e8db;}
      100% {fill:#0184a9;}
  }
  @keyframes wet{
      0% {fill:#0184a9;}
      50%{fill:#e0f7e6;}
      100% {fill:#0184a9;}
  }
  *{
      margin:0;
  }

  .RegularPoly{
      fill:#0184a9;
  }
  .water {
      animation-name: wat;
      animation-duration: 6s;
  }
  .WhiteWater{
      animation-name: wet;
      animation-duration:6s;
  }
  .BlueWater{
      animation-name:wot;
      animation-duration:6s;
  }
/*!!!!!!!!WATER ANIMATIONS!!!!!!!!*/

/*!!!!!!!COUNTRY ANIMATIONS!!!!!!!*/
@keyframes appear{
    from{opacity:0}
    to{opacity:1}
}
/* @keyframes neutral{
    0% {fill:#92B4A7;}
    50%{fill:#93827F;}
    100% {fill:#92B4A7;}
} */
.Asia, .Africa, .America, .Europe, .SouthAmerica, .Oceania{
    fill:#f3be5c;
    stroke:black ;
    stroke-width:5px ;
    
}

.America{
    stroke-width:2px !important;
}

#infoBox{
    top: 0px;
    left: 0px;
    display:none;
    position: absolute;
    background-color:#222334;
    border: 5px solid white;
    color:white;
    border-radius:20px;
    padding:10px;
    z-index:3;
}

#label{
    display: none;
    width:100%;
    position: absolute;
    z-index: 3;
    overflow:hidden;
}

#countryName{

    color:white;
    font-size:3vw;
    font-family: 'Poppins', sans-serif;
    margin-top:3%;
}
#population{
    margin-left:8vw;
}

 #popSub{
    margin-left:13vw;
} 

/* .columns{
    column-count: 2;
    column-rule: white solid;
    color:white;
    column-gap: 3.5em;
    margin-left: 5vw;
    margin-right: 5vw;
    column-span: all
} */

.sub{
    color:white;
    font-size:3vw;
    font-family: 'Poppins', sans-serif;
    display:"inline-block";
}

.stats{
    color:rgb(88, 92, 78);
    font-size:5vw;
    font-family: 'Poppins', sans-serif;
}
/*!!!!!!!COUNTRY ANIMATIONS!!!!!!!*/
