body{
    background-color:#222334;
}
#triangle{
    width:100%;
    background-color: white;
 }
 #SVGRoot{
     width:100%;
     margin-left:5%;
     margin-bottom:-3%;
 }
 #Map{
    width:100%;
    position: absolute;
    z-index: 2;
    overflow:hidden;
 }
 #BG{
    display:relative;
    z-index: 1;
 }
  *{
      margin:0;
  }
/*!!!!!!!!WATER ANIMATIONS!!!!!!!!*/
  @keyframes wot{
      0% {fill:#0184a9;}
      50%{fill:#01bfc4;}
      100% {fill:#0184a9;}
  }
  @keyframes wat{
      0% {fill:#0184a9;}
      50%{fill:#a9e8db;}
      100% {fill:#0184a9;}
  }
  @keyframes wet{
      0% {fill:#0184a9;}
      50%{fill:#e0f7e6;}
      100% {fill:#0184a9;}
  }
  *{
      margin:0;
  }

  .RegularPoly{
      fill:#0184a9;
  }
  .water {
      animation-name: wat;
      animation-duration: 6s;
  }
  .WhiteWater{
      animation-name: wet;
      animation-duration:6s;
  }
  .BlueWater{
      animation-name:wot;
      animation-duration:6s;
  }
/*!!!!!!!!WATER ANIMATIONS!!!!!!!!*/

/*!!!!!!!COUNTRY ANIMATIONS!!!!!!!*/

@keyframes neutral{
    0% {fill:#555555;}
    50%{fill:#777777;}
    100% {fill:#555555;}
}
.Asia, .Africa, .America, .Europe, .SouthAmerica, .Oceania{
    fill:#f3be5c;
    stroke:black ;
    stroke-width:5px !important;
    
}

.America{
    stroke-width:2px !important;
}

/*!!!!!!!COUNTRY ANIMATIONS!!!!!!!*/
